.navbar{
    height: 50px;
    background-color: #003580;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.navContainer{
    width: 100% ;
    max-width: 1024px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: 500;
    color: rgb(146, 22, 22);
    color: white;
}

.navContainer button{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.link{
    display:flex;
    flex-direction:row;
    gap:30px;
    align-items:center;
}
.link li{
    
    color:white;
    font-weight:500;
    list-style: none;

}