.navbar {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  .navContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 18px;
    color: #000;
    font-weight: bold;
  }
  
  .menuIcon {
    display: none;
    cursor: pointer;
  }
  
  .menuIcon.open .bar {
    background-color: #000;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: background-color 0.3s ease;
  }
  
  .link {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .link li {
    font-size: 14px;
    color: #000;
  }
  
  .navItems button {
    font: inherit;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .navItems button:hover,
  .navItems button:active {
    background-color: #ffe2ed;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navContainer {
      flex-direction: column;
    }
  
    .link {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
      display: none;
    }
  
    .link.open {
      display: flex;
    }
  
    .menuIcon {
      display: block;
    }
  
    .navItems {
      display: none;
    }
  }